@using AlintaTestEvgeny.Models.Movie
@model List<MovieCharacterByActor>
@{
    ViewBag.Title = "Movie characters";
}

<h2>Movie characters</h2>

<p>
    Film data is retrieved from the Alinta REST movie repository. The list is displayed in actor name groups, sorted by film name within each group. If actor's name is empty "[blank]" is displayed instead.
</p>

<ul>
    @foreach (var actor in Model)
    {
        <li>
            @actor.ActorName
            <ol>
                @foreach (var role in actor.CharacterList)
                {
                    <li>
                        @role.CharacterName (in @role.MovieName)
                    </li>
                }
            </ol>
        </li>
    }
</ul>
