@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alinta movies</h1>
    <p class="lead">Revium test (Evgeny)</p>
    <p>
        <a href='@Url.Action("Index", "Movie")' class="btn btn-primary btn-lg">View movie characters &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Revium</h2>
        <p>
            As a full service digital agency, Revium can help you to manage all aspects of your business on-line. 
            From marketing and strategy; design and implementation of websites and web applications.
        </p>
        <p><a class="btn btn-default" href="http://www.revium.com.au">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>The ASP.NET MVC framework is a lightweight, highly testable presentation framework that (as with Web Forms-based applications) is integrated with existing ASP.NET features, such as master pages and membership-based authentication.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>AutoRest</h2>
        <p>The AutoRest tool generates client libraries for accessing RESTful web services. Input to AutoRest is a spec that describes the REST API using the OpenAPI Specification format.</p>
        <p><a class="btn btn-default" href="https://github.com/Azure/autorest">Learn more &raquo;</a></p>
    </div>
</div>